
*{
    margin: 0;
    padding: 0;
    font-weight: 200;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    background-color: 	white;
    
}
header{
    display: flex;
    justify-content: center;
    margin: 14px;
    border: 1px solid #ccc;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        
}

.navbar > ul{
    line-height: 16px;
    margin: 3px;
    padding: 7px;
    
}
.navbar > ul > li{
    margin: 15px;
    justify-items: center;
    display: inline-block;
    position: relative;
}
.navbar > ul > .github a{
color: rgb(43, 9, 145);

}
.navbar > ul > li:hover .github a{
    
   
    border-bottom: none;
    
    }
.navbar > ul > .github{
  
}
.navbar > ul > .github > .fa-github{
    margin-right: 3px;
   

}

.navbar > ul > .dropdown > .dropdown-content{
    display: none;
    position: absolute;
}
.navbar > ul > .dropdown > .dropdown-content a {
    display: block;
    margin-top: 4px;
    border-bottom: none;
    font-size: 1.29rem;
}

.navbar > ul > li:hover a{
    border-bottom: 2px solid rgba(30, 143, 255, 0.947);
    
}
.navbar > ul > li:hover .dropdown-content{
    display: block;
}
.navbar > ul > li a{
    display: block;
    text-align: justify;
    font-weight: bold;
    padding: 12px;
    font-size: 18pt;
    color: #1E90FF; 
}
.container{
    display: flex;
    min-height: calc(100vh - 70px);
}
 /*section{
    width: 100px;
    height: 100px;
    display: inline-block;
}*/
.portfolio{
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 308px;
    background-color: white;
    width: 50vw;
    height: 51vw;
}
.portfolio > .artigo{
    min-height: 10%;
    padding: 5px;
    min-width: 10%;
    
    margin: 10px;
    text-align: -webkit-center;
    border-radius: 8px;
    border: 1px solid #aaa;
    backdrop-filter: bluer(2px);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.portfolio > .artigo > p{
    
    margin-top: 7px;
    font-size: 0.75rem;
}
.portfolio > .artigo > button{
    opacity: 1;
}
.boxShadow{
box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.5);    
}

.artigo, .artigo *{
   
}
.artigo:hover img{
  transform: scale(1.5);
  cursor: pointer;

}
.visivel{
    opacity: 1;
    transform: scale(1.5);
   
}


.portfolio > .artigo-1{
    margin-bottom: -34px;
}
.portfolio > .artigo-2{
    margin-bottom: -34px;
}
.portfolio > .artigo-3{
    margin-top: 54px;
    margin-bottom: -88px;
}
.portfolio > .artigo-4{
    margin-top: 54px;
    margin-bottom: -88px;
}
.portfolio > .artigo img{
min-width: 64px;
min-height: 64px;
width: 47vh;
height: 195px;
border-radius: 12px;
}
.portfolio > .artigo h2{

}
.portfolio > .artigo > a > button{
 background-color:#1E90FF;
}

.portfolio > .artigo button{
    height: 31px;
    width: 115px;
    margin: 4px;
    color: #FFFAFA;
    border: none;
    cursor: pointer;
}
.portfolio > .artigo > .btn-1{
    
    background-color:#1E90FF;
}
.portfolio > .artigo > a > .btn-1:hover{
    background-color: 	#00008B;
}
.portfolio > .artigo > a .btn-2:hover{
    background-color: 	#8cb9da;
    
}
.portfolio > .artigo > a .btn-2{
    background-color: #ccc;
}
.perfil{
    width: 50vw;
    
}
.Abouts{
    display: flex;
    margin-top: 101px;
    margin-bottom: 152px;
    padding: 18px;
    min-height: calc(31vh);
    justify-content: center;

    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.skills{
    display: flex;
    margin-top: 101px;
    margin-bottom: 4px;
    padding: 18px;
    min-height: calc(31vh);
    justify-content: center
}
.skills img{
    display: flex;
    justify-content: center;
}
.Abouts > .skills-1{
    display: block;
}
.Abouts h1{
    height: 30px;
    background: #1E90FF;
    display: flex;
    float: left;
    position: absolute;
}
.Abouts span{
    width: 301px;
    height: 2px;
    background: #1E90FF;
    display: flex;
    float: left;
    position: absolute;
}
.skills > .skills-1{
    display: block;
}
.skills > .skills-1 img{
    height: 89px;
    width: 90px;
}
.skills > .skills-1 h2{
    font-weight: bold;
    color: gray;
    margin-top: 33px;
}

.skills > span{
    width: 301px;
    height: 2px;
    background: #1E90FF;
    display: flex;
    float: left;
    position: absolute;
}
.skills > h1{
    height: 30px;
    background: #1E90FF;
    display: flex;
    float: left;
    position: absolute;

    border: 1px solid #aaa;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}




footer{
    display: flex;
    justify-content: center;
    margin-top: 128px;
    
}


footer{
    height: 50px;
    border: 1px solid #ccc;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
   
}

footer > .autor > .contactos{
    
    display: flex;
    margin: 2px;
    margin-bottom: 80px;
    margin-top: 23px;  
    text-align: center;
}
footer > .autor > .contactos a{
    
    margin: 26px;           
}
footer > .autor > p{
    display: flex;
    justify-content: center;
}